{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}Призы{% endblock %}

{% block body %}
  <main class="main-content">
    <div class="page-bg page-bg-faq">
      <h1 class='static-title up'>Часто задаваемые вопросы</h1>
      <div class="faq-wrapper">
        <div class="js-faq-wrapper">
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять коды?</div>
            <div class="faq-body">
              Участнику необходимо сохранить оригиналы крышки Продукта с уникальным кодом до окончания Акции.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Кто является организатором Акции?</div>
            <div class="faq-body" style="display: none;">
              Организатором Акции является <b>ООО «ПепсиКо Холдингс»</b>.
              Оператором Акции является агентство <b>ООО «Севен»</b>.
            </div>
          </div>

          <div class="faq-item">
            <div class="faq-title up">Каковы сроки проведения Акции?</div>
            <div class="faq-body" style="display: none;">
              Общий срок проведения Акции, включая период выдачи призов Победителям: <br>
              с «01» марта 2018 года по «31» августа 2018 года (включительно).<br>
              Период совершения покупки и регистрации кодов: с «01» марта 2018 года по «31» мая 2018 года
              (включительно).<br>
              Розыгрыш призов второго уровня происходит в следующие периоды:
              <table>
                <thead>
                <tr>
                  <td width="40px">Номер еженедельного периода</td>
                  <td>Еженедельный период регистрации кодов</td>
                  <td>Дата определения победителя</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td> 00:00:00 01.03.2018 – 23:59:59 04.03.2018</td>
                  <td> не позднее 12:00:00 07.03.2018</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td> 00:00:00 05.03.2018 – 23:59:59 11.03.2018</td>
                  <td> не позднее 12:00:00 14.03.2018</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td> 00:00:00 12.03.2018 – 23:59:59 18.03.2018</td>
                  <td> не позднее 12:00:00 21.03.2018</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td> 00:00:00 19.03.2018 – 23:59:59 25.03.2018</td>
                  <td> не позднее 12:00:00 28.03.2018</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td> 00:00:00 26.03.2018 – 23:59:59 01.04.2018</td>
                  <td> не позднее 12:00:00 04.04.2018</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td> 00:00:00 02.04.2018 – 23:59:59 08.04.2018</td>
                  <td> не позднее 12:00:00 11.04.2018</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td> 00:00:00 09.04.2018 – 23:59:59 15.04.2018</td>
                  <td> не позднее 12:00:00 18.04.2018</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td> 00:00:00 16.04.2018 – 23:59:59 22.04.2018</td>
                  <td> не позднее 12:00:00 25.04.2018</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td> 00:00:00 23.04.2018 – 23:59:59 29.04.2018</td>
                  <td> не позднее 12:00:00 02.05.2018</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td> 00:00:00 30.04.2018 – 23:59:59 06.05.2018</td>
                  <td> не позднее 12:00:00 09.05.2018</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td> 00:00:00 07.05.2018 – 23:59:59 13.05.2018</td>
                  <td> не позднее 12:00:00 16.05.2018</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td> 00:00:00 14.05.2018 – 23:59:59 20.05.2018</td>
                  <td> не позднее 12:00:00 23.05.2018</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td> 00:00:00 21.05.2018 – 23:59:59 27.05.2018</td>
                  <td> не позднее 12:00:00 30.05.2018</td>
                </tr>
                <tr>
                  <td>14</td>
                  <td> 00:00:00 28.05.2018 – 23:59:59 31.05.2018</td>
                  <td> не позднее 12:00:00 06.06.2018</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Какие продукты участвуют в Акции?</div>
            <div class="faq-body" style="display: none;">
              В Акции участвуют соки и нектары «Я» объемом 0,97 в промоупаковке.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Когда я могу зарегистрировать код?</div>
            <div class="faq-body" style="display: none;">
              Зарегистрировать код можно с 00 ч. 00 м. 00 с. «01» марта 2018 года по 23 ч. 59 м. 59 с. «31» мая 2018
              года (включительно) на сайте http://promo.ya-juice.ru;
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Что мне нужно сделать, чтобы принять участие в Акции?</div>
            <div class="faq-body" style="display: none;">
              Для участия в Акции необходимо:<br>
              • В период с «01» марта 2018 года по «31» мая 2018 года совершить покупку соков и нектаров «Я» в
              промоупаковке, в любом магазине на территории Российской Федерации, в котором представлена продукция
              бренда;<br>
              • Найти уникальный код под крышкой;<br>
              • Зарегистрировать код на сайте Акции http://promo.ya-juice.ru;<br>
              • Получить гарантированные призы от партнеров Акции, а также возможность участвовать в еженедельных
              розыгрышах сертификатов и в розыгрыше Главного приза – Участие в программе "Успеть за 24 часа" и шопинг в
              Милане на 200 000 рублей.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Как я могу зарегистрировать код?</div>
            <div class="faq-body" style="display: none;">
              Зарегистрировать код Вы можете на сайте http://promo.ya-juice.ru на Главной странице или в Личном
              кабинете.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Как я узнаю, что стал участником Акции?</div>
            <div class="faq-body" style="display: none;">
              После регистрации на сайте http://promo.ya-juice.ru участнику Акции отправляется сообщение на e-mail со
              ссылкой для подтверждения почтового ящика, а на сайте выводится оповещение об отправке письма со ссылкой
              подтверждения. После того, как участник переходит по ссылке из письма, он считается подтвердившим e-mail и
              завершившим регистрацию, о чем он также оповещается на сайте http://promo.ya-juice.ru.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Сколько кодов я могу зарегистрировать?</div>
            <div class="faq-body" style="display: none;">
              Вы можете зарегистрировать любое количество кодов, но согласно п.3.1 Правил Акции Участник может получить
              не более 100 гарантированных призов за весь период Акции.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Почему меня заблокировали и на сколько?</div>
            <div class="faq-body" style="display: none;">
              Скорее всего, с Вашего аккаунта была замечена повышенная активность, поэтому он был заблокирован для
              дальнейшего участия в Акции.<br>
              Напишите нам на <a href="{{ path('feedback_page') }}">Обратную связь</a> о проблеме, и мы уточним причину
              блокировки.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Сколько призов разыгрывается за весь период Акции?</div>
            <div class="faq-body" style="display: none;">
              За весь период Акции разыгрывается:<br>
              <br>
              210 000 гарантированных призов:<br>
              • 70 000 кодов на скидку 500 руб. в интернет-магазин Ив Роше,<br>
              • 70 000 кодов на скидку 600 руб. в интернет-магазин Lamoda,<br>
              • 70 000 кодов на скидку 30% в сети студии маникюра Лена Ленина.<br>
              <br>
              252 еженедельных призов:<br>
              • 84 сертификата номиналом 3 000 руб. в интернет-магазин Ив Роше,<br>
              • 84 сертификата номиналом 4 000 руб. в интернет-магазин Lamoda,<br>
              • 84 сертификата номиналом 3 000 руб. в сети студий маникюра Лена Ленина.<br>
              Каждую неделю разыгрывается 6 сертификатов в Ив Роше, 6 сертификатов в Lamoda, 6 сертификатов в Студию
              маникюра Лены Лениной.<br>
              <br>
              1 Главный приз – Участие в программе «Успеть за 24 часа» и шопинг в Милане на 200 000 рублей.<br>
              <br>
              <br>
              Подробнее на странице <a href="{{ path('prizes_page') }}">ПРИЗЫ</a>.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Как я могу использовать код на скидку в интернет-магазине Ламода?</div>
            <div class="faq-body" style="display: none;">
              Чтобы воспользоваться кодом на скидку 600 рублей, необходимо совершить покупку в интернет - магазине
              Lamoda.ru.  на сумму 3 000 руб.<br>
              Подробную инструкцию по использованию промокода можно посмотреть, перейдя по <a
                  href="https://www.lamoda.ru/help/article/primenenie-promo-koda-ru/">ссылке</a><br>
              Срок действия кода до 31.08.2018 г.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Как я могу использовать код на скидку в интернет-магазине Ив Роше?</div>
            <div class="faq-body" style="display: none;">
              Чтобы воспользоваться кодом на скидку 500 рублей, необходимо совершить покупку в интернет - магазине
              Yves-rocher.ru на сумму 3 000 руб.<br>
              Подробную инструкцию по использованию промокода можно посмотреть, перейдя по <a
                  href="https://www.yves-rocher.ru/bonus">ссылке</a><br>
              Срок действия кода до 31.08.2018 г.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Как я могу использовать код на скидку в «Студию маникюра Лена Ленина»?</div>
            <div class="faq-body" style="display: none;">
              «Скидка 30% действует на все виды маникюра (вне зависимости от их вида/стоимости) в «Студии маникюра Лены
              Лениной» согласно адресной программе.<br>
              С адресной программой можно ознакомиться в Приложении 1 к Правилам Акции.<br>
              <br>
              Срок действия кода до 31.08.2018 г.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Как я могу использовать сертификат в интернет-магазин Ламода?</div>
            <div class="faq-body" style="display: none;">
              Сертификат представляет собой промокод (специальный буквенно-цифровой код), который обеспечивает скидку на
              ассортимент в интернет-магазине Lamoda.ru. <br>
              <br>
              Подробную инструкцию по использованию сертификата можно посмотреть на сайте Lamoda.ru или перейдя по <a
                  href="https://www.lamoda.ru/help/article/kak-primenit-sertifikat-ru/">ссылке</a>.<br>
              <br>
              Срок действия сертификата до 31.08.2018 г.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Как я могу использовать сертификат в интернет-магазин Ив Роше?</div>
            <div class="faq-body" style="display: none;">
              Сертификат представляет собой промокод (специальный буквенно-цифровой код), который обеспечивает скидку на
              ассортимент в интернет-магазине Yves-rocher.ru.<br>
              <br>
              Подробную инструкцию по использованию сертификата можно посмотреть, перейдя по <a
                  href="https://drive.google.com/file/d/1KRe4BEdHPHx6qBqZjXyi8MvLslidpP_O/view?usp=sharing">ссылке</a>.<br>
              <br>
              Срок действия сертификата до 31.08.2018 г.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Как я могу использовать сертификат в «Студии маникюра Лены Лениной»?</div>
            <div class="faq-body" style="display: none;">
              Сертификат представляет собой промокод (специальный буквенно-цифровой код), который обеспечивает скидку на
              услуги по маникюру/педикюру в «Студии маникюра Лены Лениной»<br>
              <br>
              Сертификат действует на все виды услуг в «Студии маникюра Лены Лениной» согласно адресной программе
              (Приложение № 1 к Правилам Акции)<br>
              * Подробную информацию по использованию сертификата можно узнать по телефону 8 (499) 490-09-90<br>
              Срок действия Сертификата до 31.08.2018 г.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Как получить Главный приз?</div>
            <div class="faq-body" style="display: none;">
              Розыгрыш Главного приза проводится в 2 этапа:<br>
              1 этап розыгрыша:<br>
              • В розыгрыше Главного приза принимают участие все коды, зарегистрированные в период с 01 марта 2018 года
              по 31 мая 2018 года.<br>
              • Определяются 10 претендентов на победу, которые должны выполнить дополнительное конкурсное задание.
              Алгоритм выбора претендентов можно посмотреть в п. 3.3.1 Правил Акции.<br>
              2 этап розыгрыша:<br>
              • Выбранные претенденты должны в течение 7 (семи) календарных дней с момента запроса от Оператора Акции
              1/Организатора Акции выполнить Творческое задание и направить его на рассмотрение жюри, состоящему из
              представителей Организатора Акции.<br>
              • Участник информируется об участии во Втором этапе по электронному адресу, указанному при регистрации в
              Акции.<br>
              Творческое задание:<br>
              Записать видеообращение к жюри на тему «Почему именно Вы должны стать победителем Акции и обладателем
              Главного приза».<br>
              Требования к видеобращению:<br>
              • В видеоролике должен раскрываться ответ на вопрос «Почему именно Я должен стать Победителем».<br>
              • Видеоролик должен соответствовать теме конкурса.<br>
              • Длина видеоролика не должна превышать 5 минут.<br>
              • Размер файла не должен превышать 200 Мб.<br>
              • Видеоролик, загруженный Участником, должен быть сделан им самим и принадлежать ему. Не допускается
              съемка в ролике третьих лиц помимо самого претендента на получение Главного приза.<br>
              • Участник должен выложить видео на файлообменник (Яндекс.Диск, Google Диск и подобные сервисы) и прислать
              ссылку на скачивание с файлообменника.<br>
              • При использовании файлообменника, видео должно быть доступно для свободного скачивания.<br>
              • Съемка в видеоролике должна быть произведена в полный рост.<br>
              • Формат видео: MOV, MPEG4, AVI.<br>
              Участники, не объявленные Победителем получают Утешительный приз – 3 (три) коробки соков и нектаров «Я» по
              12 штук .Вручение приза происходит с момента определения Победителя Главного приза по «31» августа 2018
              года.<br>
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Сколько призов может получить один участник за весь период Акции?</div>
            <div class="faq-body" style="display: none;">
              • Каждый Участник может получить не более 100 (ста) гарантированных призов за весь период Акции.<br>
              • За весь период Акции каждый Участник может выиграть не более 3 (трех) призов второго уровня
              (Сертификатов).<br>
              • Главный приз может получить любой Участник за код, зарегистрированный за весь период Акции.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">В каких магазинах я могу купить продукт:</div>
            <div class="faq-body" style="display: none;">
              Продукт для участия в Акции можно купить в любом магазине на территории Российской Федерации, в котором
              представлена продукция бренда.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Какие документы я должен(на) предоставить, чтобы получить призы?</div>
            <div class="faq-body" style="display: none;">
              Победитель Акции, выигравший Приз, для получения Приза обязуется предоставить Оператору/Организатору
              следующую обязательную информацию и документы:<br>
              - Дату своего рождения и адрес электронной почты.<br>
              - ФИО и номер мобильного телефона, по которому Организатор/Оператор может связаться с Победителем. При
              этом указанный номер мобильного телефона должен совпадать с номером, указанным на Сайте при регистрации
              Участника.<br>
              - Копию своего паспорта (первая страница паспорта с фотографией и паспортными данными и страница с
              указанием адреса регистрации).<br>
              - Сканированную копию ИНН;<br>
              - Полный почтовый адрес с указанием индекса для отправки Приза.<br>
              - Иную информацию по запросу Организатора или Оператора Акции<br>
              Информация и копии документов должны быть направлены Победителем Организатору на адрес электронной почты
              адресу promo.ya-juice@7-agency.ru не позднее 7 (семи) календарных дней после определения Победителей Акции
              и оповещения их о выигрыше путем получения электронного письма на указанный при регистрации адрес.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Когда и как я могу получить приз?</div>
            <div class="faq-body" style="display: none;">
              Период выдачи призов первого уровня Победителям: с «1» марта 2018 года по «31» мая 2018 года
              (включительно).<br>
              Период выдачи призов второго уровня Победителям: с «1» марта 2018 года по «30» июня 2018 года
              (включительно).<br>
              <br>
              Период выдачи Главного приза с «1» августа 2018 года по «31» августа 2018 года (включительно).<br>
              Период выдачи Утешительных призов Победителям: с «1» июня 2018 года по «31» августа 2018 года
              (включительно).<br>
              <br>
              Вручение Победителям Акции призов производится путем отправки победителю приза на электронный адрес,
              указанный при регистрации, кроме Главного приза.<br>
              Главный приз вручается Победителю лично в руки, при получении приза победитель подписывает Акт
              приема-передачи.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Надо ли платить налоги с приза?</div>
            <div class="faq-body" style="display: none;">
              Участники проводимой Акции уведомлены об обязанностях уплаты налога на доходы физических лиц со стоимости
              призов, превышающей 4 000 (Четыре тысячи) рублей по ставке 35% на основании пункта 1 статьи 207, пункта 1
              статьи 210, пункта 2 статьи 224 Налогового кодекса Российской Федерации, а также об обязанностях
              налогового агента (Оператора Акции) удержать начисленную сумму налога непосредственно из доходов Участника
              Акции (Получателя дохода) при их фактической выплате на основании пунктов 4 и 5 статьи 226 Налогового
              кодекса Российской Федерации. При выдаче Приза Оператор исполняет обязанности налогового агента и
              исчисляет налог на доходы физических лиц, удерживая его из общей стоимости Приза в соответствии с п. 2 ст.
              224 и п. 4 ст. 226 части II Налогового кодекса Российской Федерации для перечисления в бюджет
              соответствующего уровня.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Что делать, если возникли вопросы, ответов на которые нет в этом F.A.Q.?</div>
            <div class="faq-body" style="display: none;">
              В случае, если вы не нашли ответ на свой вопрос, обратитесь на Обратную связь. Ответ поступит в течение 24
              часов. Если запрос приходится на выходной день, ответ поступит в ближайший рабочий день.
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block stylesheets %}
  <style>
    td {
      padding: .4em;
    }
  </style>
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}