{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}Призы{% endblock %}

{% block body %}
  <main class="main-content">
    <div class="page-bg page-bg-faq">
      <h1 class='static-title up'>Часто задаваемые вопросы</h1>
      <div class="faq-wrapper">
        <div class="js-faq-wrapper">
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
          <div class="faq-item">
            <div class="faq-title up">Нужно ли мне сохранять чеки?</div>
            <div class="faq-body" style="display: none;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt quas at soluta possimus dolorum delectus eaque, totam debitis neque necessitatibus, laudantium, harum. Enim dolorem voluptatem autem, error doloremque, nulla.
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}