{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
  Вопрос - ответ
{% endblock %}

{% block body %}
  <main class="cabinet-block main-content">
    <div class="faq-container">
      <div class="row">
        <div class="col-md-12 col-md-push-12">
          <div class="faq-header brown up text-right visible-sm visible-xs">
            Вопрос-ответ
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">Нужно ли мне сохранять чеки? </div>
            <div class="question-body js-body">
              Да, чеки хранить нужно, так как наличие чека является обязательным условием участия в акции и получения приза. 
              Участнику акции необходимо зарегистрировать чек на сайте www.moyadolka.ru 
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Кто является организатором акции?
            </div>
            <div class="question-body js-body">
              Организатором Акции является  ООО «ПепсиКо Холдингс»
              Оператором Акции является агентство ООО «Севен»
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Каковы сроки проведения Акции?
            </div>
            <div class="question-body js-body">

Общий период проведения Акции, включая период отправки призов Победителям: с «28» августа 2017 года по «15» декабря  2017 года (включительно).<br>
Период совершения покупки  и регистрации чеков с «28» августа 2017 года по «05» ноября 2017 г. (включительно)<br>
Период определения победителей:<br>
1 неделя - 04.09.2017 - 23:59<br>
2 неделя - 11.09.2017 - 23:59<br>
3 неделя - 18.09.2017 - 23:59<br>
4 неделя -  25.09.2017 - 23:59<br>
5 неделя - 02.10.2017 - 23:59<br>
6 неделя - 09.10.2017 - 23:59<br>
7 неделя - 16.10.2017 - 23:59<br>
8 неделя - 23.10.2017 - 23:59<br>
9 неделя - 30.10.2017 - 23:59<br>
10 неделя - 06.11.2017 - 23:59<br>
              <br>
Период регистрации Чеков на сайте: с 00 ч. 00 м. 01 с.«28» августа 2017 года по 23 ч. 59 м. 59 с. «05» ноября 2017 г. (включительно):<br>
1 неделя - с 00 ч. 00 м. 01 с. 28.08.2017 – по 23 ч. 59 м. 59 с. 03.09.2017<br>
2 неделя – с 00 ч. 00 м. 01 с.04.09.2017 - по 23 ч. 59 м. 59 с. 10.09.2017<br>
3 неделя - с 00 ч. 00 м. 01 с. 11.09.2017  - по 23 ч. 59 м. 59 с. 17.09.2017<br>
4 неделя – с 00 ч. 00 м. 01 с.18.09.2017 - по 23 ч. 59 м. 59 с. 24.09.2017<br>
5 неделя - с 00 ч. 00 м. 01 с. 25.09.2017 - по 23 ч. 59 м. 59 с. 01.10.2017<br>
6 неделя - с 00 ч. 00 м. 01 с. 02.10.2017 - по 23 ч. 59 м. 59 с. 08.10.2017<br>
7 неделя - с 00 ч. 00 м. 01 с. 09.10.2017 - по 23 ч. 59 м. 59 с. 15.10.2017<br>
8 неделя - с 00 ч. 00 м. 01 с. 16.10.2017 - по 23 ч. 59 м. 59 с. 22.10.2017<br>
9 неделя - с 00 ч. 00 м. 01 с. 23.10.2017 - по 23 ч. 59 м. 59 с. 29.10.2017<br>
10 неделя - с 00 ч. 00 м. 01 с. 30.10.2017 - по 23 ч. 59 м. 59 с. 05.11.2017<br>
              <br>
Период выдачи  призов Победителям: с «06» ноября 2017 года по «15» декабря 2017 года.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Когда я могу зарегистрировать чек? Когда я могу подать заявку на участие в Акции?
            </div>
            <div class="question-body js-body">
              Подать заявку и зарегистрировать чек можно ежедневно с 00 ч. 00 м. 01 с. «28» августа 2017 года по 23 ч. 59 м. 59 с. «05» ноября 2017 г. (включительно) на сайте www.moyadolka.ru
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Что мне нужно сделать, чтобы принять участие в акции?
            </div>
            <div class="question-body js-body">
              В период с «28» августа 2017 года по «05» ноября 2017 года совершить покупку любой  продукции «J7 Фрукты Целиком», «J7 Тонус», «J7 Frutz», «J7», «Любимый», «Я», «Фруктовый сад» любых вкусов в любой розничной точке продаж на территории Российской Федерации в период проведения Акции и получить кассовый чек за Покупку, в котором указана продукция, участвующая в Акции. Стоимость покупки не должна превышать 2 000 руб. в 1 (одном) чеке.
              <br><br>
              Зарегистрировать чек на сайте www.moyadolka.ru путем регистрации сканированной копии (скана или фотографии) чека. <br>
              Пожалуйста, сохраняйте чеки. 
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Кто может принимать участие в акции?
            </div>
            <div class="question-body js-body">
              Участниками Акции могут быть граждане РФ, достигшие 18 летнего возраста и постоянно проживающие на территории Российской Федерации.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Какие есть требования к чекам?
            </div>
            <div class="question-body js-body">
                Для успешного прохождения модераци, чек  должен соответствовать следующим требованиям: 
                <br><br>
                1. Должны быть указаны соки или нектары Любимый, J7, Тонус, Фруктовый сад или Я.<br>
                2. Чек должен быть датирован не ранее 21.08.2017.<br>
                3. Чек должен быть сфотографирован полностью, включая верхний и нижний края чека.<br>
                4. В чеке должны присутствовать дата, время покупки, итоговая сумма, ФН, ФД/ФПД, QR-код.<br>
                5. Чек должен соответствовать требованиям, указанным в.п. 2.6 Правил Акции.<br>
                6. Согласно положению Федерального закона "О применении контрольно-кассовой техники при осуществлении наличных денежных расчетов и (или) расчетов с использованием платежных карт" от 22.05.2003 N 54-ФЗ с 01 июля 2017 года,  чеки должны быть нового образца. 

            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Как выглядит чек нового образца?
            </div>
            <div class="question-body js-body">
              <a href="/images/cheque.jpg" target='_blank'><img src="/images/cheque.jpg" style="display:block; width: 150px; margin: 6px auto;"></a>
                (1)	Продукция, участвующая в акции <br>
                (2)	Наличие даты чека <br>
                (3)	ФН – фискальный накопитель  <br>
                (4)	ФД -  фискальный документ,  <br>
                ФПД - фискальный признак документа<br>
                (5)	QR – код 
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Почему не приняли мой чек?
            </div>
            <div class="question-body js-body">
                Причины отклонения чека отражаются в личном кабинете, в графе «статус чека». 
                Более детальные пояснения, в случае полного соответствия чека пункту 2.6. правил Акции, можно получить обратившись в форму Обратной Связи. 
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Почему принимаются только чеки нового образца? 
            </div>
            <div class="question-body js-body">
              Согласно положению Федерального закона "О применении контрольно-кассовой техники при осуществлении наличных денежных расчетов и (или) расчетов с использованием платежных карт" от 22.05.2003 N 54-ФЗ с 01 июля 2017 года,  все чеки должны выдаваться нового образца.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Как я узнаю, что стал участником акции?
            </div>
            <div class="question-body js-body">
              После регистрации на сайте www.moyadolka.ru участнику акции отправляется e-mail со ссылкой для подтверждения почтового ящика, а на сайте выводится оповещение об отправке письма со ссылкой подтверждения. После того, как участник переходит по ссылке из письма, он считается подтвердившим e-mail и завершившим регистрацию, о чем он также оповещается на сайте  www.moyadolka.ru.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Сколько чеков я могу зарегистрировать?
            </div>
            <div class="question-body js-body">
              Один участник может зарегистрировать любое количество чеков, стоимость покупки продуктов участников в 1 (одном) чеке не должна превышать 2 000 руб. 
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Сколько долек я могу зарегистрировать?
            </div>
            <div class="question-body js-body">
              Один участник может зарегистрировать в неделю не более 100 долек.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Почему меня заблокировали и на сколько?
            </div>
            <div class="question-body js-body">
              Вас могли заблокировать, если вы загрузили подряд 5 чеков/картинок, которые не прошли модерацию. В таком случае, возможность загружать чеки ограничена в первый раз на 6 часов, во второй раз на 12 часов, в третий раз на 24 часа.   . <br>
              Если подобный инцидент повторится 3 раза, организатор на четвертый раз вправе заблокировать такого пользователя на весь период акции<div class="br"></div>
              В случае возникновения дополнительных вопросов, пожалуйста, воспользуйтесь формой обратной связи. 
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Сколько призов разыгрывается за весь период акции?
            </div>
            <div class="question-body js-body">
              Общий призовой фонд  акции составляет 10 000 000 руб. <br>
              За весь период акции разыгрывается 333 330 дольки. <br>
              Каждую неделю  разыгрывается 1 000 000 руб. <br>
              Минимальная стоимость дольки равна 30 рублям. <br>
              Победителем становиться участник, чеки которого прошли модерацию.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Какую сумму денежного приза может получить 1 участник?
            </div>
            <div class="question-body js-body">
              Сумма денежного приза будет зависеть от количества зарегистрированных долек участников и курса дольки на конкретную неделю. <br>
              Еженедельный размер дольки, который минимально составляет 30 рублей, определяется по следующей формуле: <br>
              N = 1 000 000/R, где <br>
              N - стоимость одной дольки;  <br>
              R - общее кол-во долек за одну неделю <br>
              <br>
              Сумма выигрыша считается следующим образом: <br>  
              S=N1*R1, где <br>
              S - стоимость приза для уникального участника <br>
              N1 - стоимость одной дольки по результатам одной недели розыгрыша, <br> 
              R1 - общее количество долек, зарегистрированных уникальным участником, по результатам одной недели розыгрыша, где 1 - номер недели.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Как определяется стоимость дольки?
            </div>
            <div class="question-body js-body">
              Еженедельный размер дольки, который минимально составляет 30 рублей, определяется по следующей формуле: <br>
              N =1 000 000/R, где <br>
              N - стоимость одной дольки; <br> 
              R - общее кол-во долек за одну неделю
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Сколько всего долек в розыгрыше?
            </div>
            <div class="question-body js-body">
              За весь период акции (10 недель) разыгрывается 333 330 дольки. <br>
              Еженедельно в розыгрыше принимают участие 33 333 дольки.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Что будет если все дольки будут зарегистрированы до конца недели?
            </div>
            <div class="question-body js-body">
             Если в течение недели будет загружено максимальное количество долек, прием долек будет остановлен. Участникам, не успевшим загрузить дольки, потребуется загрузить эти же чеки на новой неделе.  
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              В каких магазинах я могу купить продукт?
            </div>
            <div class="question-body js-body">
              Продукт для участия в акции можно купить в любом магазине на территории Российской Федерации.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Какие документы я должен(на) предоставить, чтобы получить Призы?
            </div>
            <div class="question-body js-body">
              Победитель Акции, выигравший Приз, для получения Приза обязуется предоставить Оператору/Организатору следующую обязательную информацию и документы: <br>
              - Дату своего рождения  и адрес электронной почты. <br>
              - ФИО и номер мобильного телефона, по которому Организатор/Оператор может связаться с Победителем. При этом указанный номер мобильного телефона должен совпадать с номером, указанным на Сайте при регистрации Участника. <br>
              - Сканированную копию / фотографию оригинала чека (ов) от Покупки (ок); <br>
              -  Копию своего паспорта (первая страница паспорта с фотографией и паспортными данными и страница с указанием адреса регистрации). <br><br>
              -  Иную информацию по запросу Организатора или Оператора Акции
              Информация и копии документов должны быть направлены Победителем Организатору на адрес электронной почты  moyadolka@7-agency.ru  не позднее 7 (семи) календарных дней после определения Победителей Акции и оповещения их о выигрыше путем получения электронного письма на указанный при регистрации адрес.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Когда и как я могу получить приз?
            </div>
            <div class="question-body js-body">
              Период выдачи  призов Победителям: с «06» ноября 2017 года по «15» декабря 2017 года. <br>
              Вручение приза Акции  производится следующим образом:  <br>
              Если приз меньше или равен 500 руб., приз переводится на счет  мобильного телефона участнику <br>
              Если приз меньше или равен 4 000 руб., Участник вправе выбрать метод перечисления приза – деньги на счет телефона либо деньги на Яндекс кошелек <br>
              Если приз выше 4 000 руб., средства переводятся на Яндекс кошелек с удержанием налога 
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Могу ли я получить приз на свою банковскую карту или наличные?
            </div>
            <div class="question-body js-body">
              К сожалению, нет - приз перечисляется либо на телефон, либо Яндекс Кошелек
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Что делать если у меня нет Яндекс Кошелька?
            </div>
            <div class="question-body js-body">
              Если у вас еще нет Яндекс Кошелька, его нужно открыть. Вы можете это сделать по <a href="https://money.yandex.ru/new/?_openstat=purse;adwords;brand_capitals&source=adwords&utm_campaign=koshelek_brand_search_capitals&utm_medium=cpc&utm_term=%2B%D0%BA%D0%B0%D0%BA%20%2B%D0%B7%D0%B0%D0%B2%D0%B5%D1%81%D1%82%D0%B8%20%2B%D1%8F%D0%BD%D0%B4%D0%B5%D0%BA" target="_blank">ссылке</a>.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Надо ли платить налоги с приза?
            </div>
            <div class="question-body js-body">
              Участники проводимой Акции уведомлены об обязанностях уплаты налога на доходы физических лиц со стоимости призов, превышающей 4 000 (Четыре тысячи) рублей по ставке 35% на основании пункта 1 статьи 207, пункта 1 статьи 210, пункта 2 статьи 224 Налогового кодекса Российской Федерации, а также об обязанностях налогового агента (Оператора Акции) удержать начисленную сумму налога непосредственно из доходов Участника Акции (Получателя дохода) при их фактической выплате на основании пунктов 4 и 5 статьи 226 Налогового кодекса Российской Федерации. При выдаче Приза Оператор исполняет обязанности налогового агента и исчисляет налог на доходы физических лиц, удерживая его из общей стоимости Приза в соответствии с п. 2 ст. 224 и п. 4 ст. 226 части II Налогового кодекса Российской Федерации для перечисления в бюджет соответствующего уровня.
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Как посмотреть статус по зарегистрированным чекам и количество по долькам?
            </div>
            <div class="question-body js-body">
              Информацию по модерации зарегистрированного вами чека вы можете найти в личном кабинете в графе «статус чека». 
            </div>
          </div>
          <div class="question-wrap js-wrap brown">
            <div class="question-header js-header">
              Что делать, если возникли вопросы, ответов на которые нет в этом F.A.Q.?
            </div>
            <div class="question-body js-body">
              Сначала внимательно прочитайте правила акции и данный f.a.q. В случае, если вы не нашли ответ на свой вопрос, обратитесь в службу технической поддержки, заполнив форму обратной связи. Ответ поступит в течение 24 часов. Если запрос приходится на выходной день, ответ поступит в ближайший рабочий день. 
            </div>
          </div>
        </div>
        <div class="col-md-12 col-md-pull-12">
          <div class="static-person static-person-fs" style="background-image: url({{ asset('images/person6.png') }}); background-position: top; min-height: 720px;"></div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}