{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}Призы{% endblock %}

{% block body %}
  <main class="main" id="main">
    Призы
  </main>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}