<!DOCTYPE html>

<html>
<head>

  <title></title>
  <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">
</head>
<body>

<div class="full-screen container-mp pl-bg">
  <div class="pl-wrap vm up">
    <div class="pl-text-lg">404</div>
    <div class="pl-header">Страница не найдена</div>
    <div class="pl-text-lg">&nbsp;</div>
    <a href="/" class="pl-link" target="_blank">Вернуться на главную</a>
  </div>
</div>
</body>
</html>
