<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title up" id="myModalLabel">
          Уважаемый участник!
        </h4>
        <div class="form-group pop-up-text-normal pop-up-text text-center no-margin">
          По итогам 10 недель ты становишься претендентом <br>
          на приз 10 000рублей*! <br>
          Пожалуйста, укажи свои реквизиты для получения приза:
        </div>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="pop-up-form-wrap pop-up-form-wrap-sm">
            <div class="row">
              <div class="col-sm-13">
                <div class="form-group">
                  <label for="">ФИО</label>
                  <input type="text" >
                </div>
                <div class="form-group">
                  <label for="">Дата рождения *</label>
                  <input type="text" class='js-datapicker short-input' required="">
                </div>
                <div class="form-group">
                  <label for="">Выдан кем *</label>
                  <input type="text" class='short-input' required="">
                </div>
                <div class="form-group">
                  <label for="">Выдан когда *</label>
                  <input type="text" class='short-input' required>
                </div>
                <div class="form-group">
                  <label for="">Регистрация *</label>
                  <input type="text" required="">
                </div>
              </div>
              <div class="col-sm-11">
                <div class="form-group">
                  <label for="">Номер моего кошелька</label>
                  <input type="text">
                </div>
                <div class="form-group">
                  <label for="">Серия и номер паспорта *</label>
                  <input type="text" required="">
                </div>
                <div class="form-group">
                  <label for="">Код подразделения *</label>
                  <input type="text" required="">
                </div>
                <div class="form-group">
                  <label for="">Город рождения *</label>
                  <input type="text" required="">
                </div>
                <div class="form-group">
                  <label for="">Номер ИНН *</label>
                  <input type="text" required="">
                </div>

              </div>
              <div class='col-sm-13'>
                <div class="form-group">
                  <div class='row no-margin'>
                    <div class='col-xs-12'>
                      <label for="" class='label-sm'>Загрузить <br> данные паспорта</label>
                    </div>
                    <div class='col-xs-12 text-right'>
                      <div class='image-uploader image-uploader-sm'>
                        <input type='file'>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-sm-11'>
                <div class="form-group">
                  <div class='row no-margin'>
                    <div class='col-xs-12'>
                      <label for="" class='label-sm'>Загрузить <br> данные ИНН</label>
                    </div>
                    <div class='col-xs-12 text-right'>
                      <div class='image-uploader image-uploader-sm'>
                        <input type='file'>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox-wrap">
                    <input type="checkbox" name="age" value="1">
                    <span></span>
                  </div>
                  <div class="checkbox-title checkbox-title-xs">
                    Я подтверждаю, что мне исполнилось <br>
                    18 лет на момент участия в Акции
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pop-up-buttons text-center">
            <button type="submit" class='btn-ylw'>Получить приз</button>
          </div>
          <div class='pop-up-text-xs'>
            * При выдаче Приза Оператор исполняет обязанности налогового агента и исчисляет налог на доходы
            физических лиц, удерживая его из общей стоимости Приза в соответствии с п. 2 ст. 224 и п. 4
            ст. 226 части II Налогового кодекса Российской Федерации для перечисления
            в бюджет соответствующего уровня.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>