/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/.idea/
/web/upload/
# скрипт очистки кеша, но проше удалять рукаим папку
/reset_cache
# Каталог с репозиторие чувака который делает вёрстку
/favorite_syrup
