{% extends 'AppBundle:Admin:base_admin.html.twig' %}

{% block title %}Список розыгрышей{% endblock %}

{% block body %}

  <main role="main" class="container">
    <h1>{{ block('title') }}</h1>
    <div id="webix"></div>
  </main>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <style type="text/css">
    #webix {
      height: calc(100vh - 40px - 8px - 8px - 24px - 48px - 8px);
      width: 100%;
    }
  </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    var codes = {{ lotteries|json_encode|raw }};
    webix.ready(function () {
      grid = webix.ui({
        container: "webix",
        view: "datatable",
        // autoConfig:true,
        columns: [
          { id: "id", header: [ "Id", { content: "textFilter" } ], width: 100, sort: "int" },
          { id: "promo", header: [ "Промо", { content: "textFilter" } ], width: 150, sort: "text" },
          { id: "is_done", header: [ "is_done", { content: "textFilter" } ], width: 100, sort: "int" },
          { id: "is_ready", header: [ "is_ready", { content: "textFilter" } ], width: 100, sort: "int" },
          { id: "is_runnable", header: [ "is_runnable", { content: "textFilter" } ], width: 100, sort: "int" },
          { id: "start_time", header: [ "Начало", { content: "textFilter" } ], width: 180, sort: "text" },
          { id: "end_time", header: [ "Конец", { content: "textFilter" } ], width: 180, sort: "text" },
          { id: "run_time", header: [ "run_time", { content: "textFilter" } ], width: 180, sort: "text" },
          {
            id: "run", header: "Запуск", width: 80,
            template: "<a href='/app_dev.php/admin/code_lottery_run/#promo#/#id#' target='_blank'>Запуск</a>",
          },
          {
            id: "commit", header: "Коммит", width: 80,
            template: "<a href='/app_dev.php/admin/code_lottery_commit/#promo#/#id#' target='_blank'>Коммит</a>",
          },
        ],
        data: codes,
        scrollAlignY: true,
      });
      webix.event(window, "resize", function () {
        grid.adjust();
      })
    });
  </script>
{% endblock %}