/*Common */

body * {
    font-family: 'IntroBold' , sans-serif;
}
body , html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}
ul {
    padding: 0;
    margin: 0;
}
a:hover , a:active , a:focus{
    text-decoration: none;
    color: inherit;
    outline: none;
}
button:active , button:focus {
    outline: none;
}
a , button , .trs{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
input:focus , input:active , select:focus , select:active , textarea:focus , textarea:active {
    outline: none;
}
.visible-xxs {
    display: none !important;
}
.row {
    margin: 0 -15px;
}
.vm {
    vertical-align: middle;
}
.text-sm {
    font-family: 'IntroBook' , sans-serif;
    font-size: 11px;
}
.brown {
    color: #a22c04;
}
.up {
    text-transform: uppercase;
}
.table-responsive {
    border: none;
}
.no-margin {
    margin: 0 !important;  
}
.underline {
    text-decoration: underline;
}
.button-orng {
    display: block;
    text-transform: uppercase;
    color: #fff;
    background-image: url(../images/btn.jpg);
    text-align: center;
    background-size: contain;
    background-repeat: repeat no-repeat;
    width: 250px;
    margin: 0 auto;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 17px;
    text-shadow: 1px 0px 0px #a22c04, -1px 0px 0px #a22c04, 0px 1px 0px #a22c04, 0px -1px 0px #a22c04;
    box-shadow: 0px 0px 4px 2px #fdb63c;
    overflow: hidden;
    position: relative;
}
.button-orng:hover {
    color: #fff;
    text-decoration: none;
}
.button-orng:hover .button-orng-pre {
    bottom: -1px;
    background: rgba(255, 216, 3, 0.41);
}
.button-orng-pre {
    position: absolute;
    left: 0;
    bottom: 23px;
    width: 100%;
    height: 24px;
    background: rgba(255, 216, 3, 0.78);
    border-radius: 45px;
}
.button-orng-post {
    position: relative;
}
/* Common end */


/* Header */
.page_header {
    background-image: url(../images/header-bg.jpg);
    text-align: right;
    background-size: contain;
    background-repeat: repeat no-repeat;
}
.mobile-toggler div {
    background: #fff;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 0px 1px #ff7e00;
}
.mobile-toggler {
    display: inline-block;
    width: 35px;
    margin: 0 27px -31px;
    cursor: pointer;
}
.header-menu {
    padding: 20px 250px 20px 0;
    display: inline-block;
}
.header-menu li {
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;
}
.header-menu li.auth-block-link a {
    display: block;
    text-align: center;
}
.header-menu li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    text-shadow: 1px 1px 0px #ff8400;
}
.header-menu li a.active {
    color: #92471e;
    text-shadow: 1px 1px 0px #bf9e8c;
}
.header-menu li a.n-bg-link {
    display: inline-block;
    position: relative;
}
.header-menu li a.n-bg-link:before , .header-menu li a.n-bg-link:after {
    width: 100%;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;    
}
.header-menu li a.n-bg-link:before {
    background-image: url(../images/n-top.png);    
    height: 22px;    
    top: -24px;
}
.header-menu li a.n-bg-link:after {
    background-image: url(../images/n-bottom.png);
    height: 18px;
    bottom: -15px;
}
.logo-wrapper {
    margin-top: 15px;
}
.logo-wrapper img {
    margin: 0 5px;
}
.header-slider {
    display: inline-block;
    background: #02a85c;
    padding: 13px 22px 3px;
    margin-bottom: -21px;
    margin-right: 45px;
    border-radius: 0px 0px 35px 35px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #0c5031;
    position: relative;
    width: 250px;
    z-index: 1;
}
.header-slider:after , .header-slider:before {
    content: '';
    position: absolute;
    height: 82%;
    width: 6px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 2px 4px 0px #808080;
    top: 0;    
}
.header-slider:after {    
    right: -3px;
}
.header-slider:before {    
    left: -3px;
}
.header-slide-item-media {
    background-image: url(../images/d-icon.png);
    padding-left: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}
.header-slide-item-body {
    margin-top: 3px;
}
.header-slide-item-header {
    font-size: 15px;
    text-align: center;
}
.header-slide-item-header.header-slide-item-header-sm {
    font-size: 13px;
}
.header-slide-item-header.header-slide-item-header-lg {
    font-size: 28px;
}
.header-slide-item-header.header-slide-item-header-md {
    font-size: 23px;
}
.header-slide-item-media div {
    font-size: 12px;
    text-align: left;
}
.header-slide-item-info sub {
    font-size: 14px;
}
.header-slide-item-info {
    font-size: 25px;
}
.owl-dot {
    display: inline-block;
    padding: 4px;
    background: #fff;
    margin: 0 3px;
    border-radius: 6px;
    vertical-align: middle; 
    box-shadow: 1px 1px 2px 0px #525252;   
}
.owl-dots {
    text-align: center;
    margin-top: 5px;
}
.owl-dot.active {
    background: #ff9d00;
    padding: 6px;
}
.visible-menu {
    display: block !important;
    position: absolute;
    background-image: url(../images/header-bg.jpg);
    text-align: right;
    background-size: contain;
    background-repeat: repeat no-repeat;
    z-index: 10;
    top: 70px;
    right: 10px;
    width: 190px;
    padding: 20px 0 !important;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 0px #989898;
}
.visible-menu:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 20px solid #ffab00;
    right: 25px;
    top: -19px;
}
.visible-menu.header-menu li , .visible-menu.header-menu li.auth-block-link a {
    text-align: center;
    display: block; 
    margin-bottom: 5px;   
}
.visible-menu.header-menu li a.n-bg-link {
    margin: 10px 0;
}
.visible-menu.header-menu li a.n-bg-link:before {
    top: -19px;
}
.visible-menu.header-menu li a.n-bg-link:after {
    bottom: -10px;
}
/* Header end */

/* Main */
.main-content {
    padding: 38px 100px 0;
}
.sm-header {
    font-size: 20px;
}
.md-header {
    font-size: 36px;
}
.person-block {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.person-block-1 {
    background-image: url(../images/person1.jpg);
    height: 460px;
    margin: 15px 0;
}
.mp-person img {
    max-width: 100%;
}
.step-item {
    background: #f9f1d4;
    padding: 6px 20px 16px;
    border-radius: 10px;
    margin-bottom: 8px;
    min-height: 80px;
}
.step-body {
    font-family: 'IntroBook' , sans-serif;
    font-size: 13px;
    padding-left: 55px;
    margin-top: 3px;
}
.step-body-image {
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 7px;
}
.rules-link {
    display: block;
    margin-top: 14px;
}
.upload-block {
    margin-top: 20px;
}
.info-list {
    list-style: none;
    font-size: 13px;
    padding-left: 25px;
    margin-bottom: 18px;
}
.info-list li {
    font-family: 'IntroBook' , sans-serif;
}
.info-list-wrapper {
    margin-top: 17px;
}
.main-step-body {
    font-family: 'IntroBook' , sans-serif;
    font-size: 13px;
}
.main-step-wrap {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 48px;
    background-size: contain;
}
.main-step-title {
    font-size: 16px;
}
.logo-wrapper.logo-wrapper-mp {
    text-align: center;
    margin-top: 0;
}
.about-container {
    height: 100%;
    padding: 30px 30px 0;
}
.faq-container {
    padding: 50px 30px 0;
    height: 100%;
}
.static-person {
    height: 100%;
    background-image: url(../images/person6.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.faq-container .row , .faq-container .row > div {
    height: 100%;
}
.question-header {
    font-size: 17px;
    margin-bottom: 5px;
    cursor: pointer;
}
.question-body {
    background: #fff0b6;
    font-family: 'IntroBook' , sans-serif;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 15px;
    display: none;
    margin-bottom: 20px;
}
.feedback-form-wrap h1 {
    font-size: 23px;
    margin-top: 0;
}
.feedback-form-wrap {
    text-align: center;
    padding-right: 380px;
    padding-bottom: 15px;
}
.feedback-group input ,
.feedback-group select , .feedback-group textarea {
    background: #fff0b6;
    display: block;
    width: 420px;
    margin: 0 auto;
    border: none;
    padding: 8px 13px;
    border-radius: 15px;
    resize: none;
    font-family: 'IntroBook' , sans-serif;
    text-align: center;
}
.feedback-group input::-webkit-input-placeholder {color:#a22c04; font-family: 'IntroBook' , sans-serif; text-align: center;}
.feedback-group input::-moz-placeholder          {color:#a22c04; font-family: 'IntroBook' , sans-serif; text-align: center;}/* Firefox 19+ */
.feedback-group input:-moz-placeholder           {color:#a22c04; font-family: 'IntroBook' , sans-serif; text-align: center;}/* Firefox 18- */
.feedback-group input:-ms-input-placeholder      {color:#a22c04; font-family: 'IntroBook' , sans-serif; text-align: center;}

.feedback-group label,
.feedback-text-md {
    font-family: 'IntroBook' , sans-serif;
    font-size: 16px;
    font-weight: 100;
}
.feedback-group {
    margin-bottom: 15px;
}
.feedback-text-md {
    margin-bottom: 20px;
}
.feedback-group textarea {
    height: 100px;
}
.text-file-upload {
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
.text-file-upload input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.text-file-upload span {
    font-family: 'IntroBook' , sans-serif;
    font-size: 17px;
    display: inline-block;
    border-bottom: 1px solid;
    line-height: 18px;
}
.recapcha-feedback {
    display: block;
    width: 310px;
    margin: 8px auto 6px;
}
.feedback-history {
    font-family: 'IntroBook' , sans-serif;
    font-size: 16px;
    display: inline-block !important;
    border-bottom: 1px solid;
    line-height: 18px;
    margin-top: 7px;
}
.product-block-r {
    margin-top: -20px;
    padding-right: 150px;
    text-align: center;
    padding-bottom: 25px;
}
.product-block-r h2 {
    font-family: 'IntroBook' , sans-serif;
    text-transform: lowercase;
    margin: 0 0 20px;
}
.logos-b img {
    max-height: 130px;
    margin: 0 15px;
}
.logos-b {
    margin-top: 30px;
}
.owl-wrapper {
    background: #f3ecd6;
    padding: 25px 30px;
    border-radius: 20px;
    position: relative;
    margin: 55px auto 0;
    width: 770px;
    max-width: 100%;
}
.slider-item-img {
    height: 160px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.slider-item-title {
    color: #034ea2;
    line-height: 17px;
}
.slider-item-post-title {
    font-family: 'IntroBook' , sans-serif;
    color: #034ea2;
}
.owl-nav div {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    margin-top: -20px;
}
.owl-prev {
    border-top: 20px solid transparent;
    border-right: 20px solid #e8c9a7;
    border-bottom: 20px solid transparent;
    left: -20px;
}
.owl-next {
    border-top: 20px solid transparent;
    border-left: 20px solid #e8c9a7;
    border-bottom: 20px solid transparent;
    right: -20px;
}
.product-link {
    position: relative;
    display: inline-block;
}
.product-link.active:after {
    content: '';
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 40px solid #f3ecd6;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -56px;
}
.container-mp.pl-bg {
    background-image: url(../images/pl-bg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-bottom: 0;
    text-shadow: 2px 1px 2px #d88e15;
}
.pl-wrap {
    display: inline-block;
    background: #fcaf17;
    background: -webkit-linear-gradient(top, #fd8000, #fcaf17);
    background: -moz-linear-gradient(top, #fd8000, #fcaf17);
    background: -o-linear-gradient(top, #fd8000, #fcaf17);
    background: linear-gradient(to top, #fd8000, #fcaf17);
    color: #fff;
    text-align: center;
    padding: 25px 65px;
    position: relative;
    border-radius: 25px;
}
.pl-bg:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}
.pl-header {
    font-size: 30px;
}
.pl-wrap img {
    width: 90%;
    margin: 13px 0;
}
.pl-static-text {
    font-size: 18px;
}
.pl-text-lg {
    font-size: 42px;
}
.pl-link {
    text-decoration: underline;
    color: #fff;
    display: block;
    margin-top: 9px;
    font-family: "IntroBook" , sans-serif;
    font-size: 15px;
}
.pl-image-a {   
    position: absolute;
    margin: 0 !important;
}
img.pl-image-a.pl-image-a1 {
    top: -81px;
    left: 110px;
    width: 110px;
}
img.pl-image-a.pl-image-a2 {
    width: 80px;
    left: 460px;
    top: -120px;
}
img.pl-image-a.pl-image-a3 {
    width: 105px;
    right: -80px;
    top: 55px;
}
img.pl-image-a.pl-image-a4 {
    width: 105px;
    left: -123px;
    bottom: 70px;
}
img.pl-image-a.pl-image-a5 {
    width: 123px;
    bottom: -92px;
    left: 100px;
}

img.pl-image-a.pl-image-a6 {
    width: 135px;
    right: -75px;
    bottom: -86px;
}
/* Main end */

/* Footer */
.footer-menu li {
    display: inline-block;
    text-transform: uppercase;
}
.footer-menu {
    margin: 0;
    padding: 0;
}
.full-screen {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-bottom: 99px;
}
.page_footer {
    margin-top: -100px;
    background: #ffae00;
    padding: 7px 15px;
}
.footer-menu li a , .page_footer {
    color: #fff;
    text-shadow: 1px 1px 0px #ff8400;   
}

/* Footer end */

/* Modals */
.modal-content {
    background-color: #fcaf17;
}
.modal-content.modal-content-no-header {
    padding-top: 18px;
}
.modal-title {
    text-shadow: 1px 1px 0px #845625;
    color: #fff;
    text-align: center;
    font-size: 22px;
}
.modal-title span {
    display: block;
    font-size: 18px;
    text-transform: none;
    color: #ffd866;
    font-family: 'IntroRegular' , sans-serif;
}
.modal-header {
    margin: 0 20px;
}
.btn-ylw {
    font-family: 'IntroRegular';
    background: #ffc509;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0px;
    padding: 8px 30px;
    border-radius: 15px;
    text-shadow: 1px 1px 0px #e48015;
    border: 2px solid #fff;
    display: inline-block;
    cursor: pointer;
    min-width: 200px;
}
.btn-ylw.btn-ylw-sm {
    font-size: 14px;
    width: 165px;
    padding: 7px 0;
    margin: 10px;
    min-width: auto;
}
.pop-up-buttons {
    margin-top: 17px;
}
.pop-up-form-wrap {
    padding: 0 40px;
}
.pop-up-form-wrap.pop-up-form-wrap-sm {
    padding: 0 20px;
}
.form-group label {
    display: block;
    margin: 0 0 2px;
    font-family: 'IntroBook' , sans-serif;
    color: #fff;
    font-size: 16px;
    text-shadow: 1px 1px 0px #e48015;
}
.form-group label.label-sm {
    font-size: 14px;
    margin-top: 17px;
}
.form-group input {
    display: block;
    width: 100%;
    background: #bd8311;
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    color: #fff;
}
.form-group input:focus {
    outline: none;
}
.form-group {
    padding: 0 15px;
}
.form-group input.short-input {
    width: 70%;
}
.checkbox-wrap {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 34px;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 2px;
    text-align: center;
    background: #bd8311;
    border: none;
    padding: 7px 10px;
}
.checkbox-wrap input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.input-row span {
    font-size: 18px;
    display: inline-block;
    width: 185px;
    text-align: right;
    margin-right: 15px;
}
.checkbox-wrap input:checked + span {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0 -2px;
}
.checkbox-title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-family: 'IntroBook' , sans-serif;
    color: #fff;
    font-size: 16px;
}
.checkbox-title.checkbox-title-xs {
    font-size: 10px;
    margin-left: -50px;
    padding-left: 50px;
    margin-right: 0;
    white-space: normal;
}
.form-group-nw {
    white-space: nowrap;
}
.pop-up-text {
    color: #fff;
    font-family: 'IntroBook';
}
.pop-up-text-normal {
    font-size: 16px;    
}
.form-footer-sm {
    padding: 0 90px;
    margin-top: 30px;
}
.recaptcha {
    -webkit-transform:  scale(0.8);
    -ms-transform:  scale(0.8);
    -o-transform:  scale(0.8);
    transform:  scale(0.8);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}
.fs-recaptcha {
    display: inline-block;
    margin-top: 25px;
}
.modal-static-text {
    font-family: 'IntroBook' , sans-serif;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 0px #e48015;
    line-height: 24px;
    padding: 10px 0;
}
.modal-content .close {
    position: absolute;
    right: -6px;
    top: -13px;
    color: #fff;
    opacity: 1;
    font-size: 36px;
}
.pass-recover {
    display: block;
    font-family: 'IntroBookItalic' , sans-serif;
    margin-top: -12px;
}
.pop-up-reg {
    font-size: 18px;
    display: block;
    margin-top: 15px;
}
.pop-up-text-xs {
    font-family: 'IntroBook' , sans-serif;
    font-size: 11px;
    margin-top: 10px;
    color: #FFF;
}
.uploaded-preview {
    margin: 15px;
    display: inline-block;
}
.image-uploader.image-uploader-sm {
    width: 80px;
}
.image-uploader {
    display: inline-block;
    width: 120px;
    height: 40px;
    background: #ffbe00;
    position: relative;
    border: 2px solid #fff;
    border-radius: 20px;
    background-image: url(../images/photo.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    margin-top: 15px;
}
.image-uploader span {
    position: absolute;
    left: 0;
    width: 100%;
    top: -26px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.image-uploader input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
/* Modals End */

/* Media */

@media (max-width: 1770px) {
    .header-menu {
        padding-right: 130px;
    }
}
@media (max-width: 1650px) {
    .feedback-form-wrap {
        padding-right: 150px;
    }
}
@media (max-width: 1600px) {
    .header-menu li {
        margin: 0 5px;
    }
    .logo-wrapper {
        text-align: center;
    }
}
@media (max-width: 1550px) {
    .header-slider {
        margin: 0 auto -21px;
        display: block;
    }
    .page_footer {
        height: 120px;
        margin-top: -120px;
    }
    .full-screen {
        padding-bottom: 120px;
    }
}
@media (max-width: 1530px) {
    .header-menu li a {
        font-size: 12px;
    }
    .header-menu {
        padding-right: 45px;
    }
}
@media (max-width: 1400px) {
    .feedback-form-wrap {
        padding-right: 50px;
    }
    .product-block-r {
        padding-right: 80px;
    }
    .product-block-r h1 {
        font-size: 28px;
        margin-bottom: 1px;
    }
    .product-block-r h2 {
        font-size: 24px;
    }
}
@media (max-width: 1300px) {
    .header-menu li {
        margin: 0 3px;
    }
    .header-menu {
        padding-right: 30px;
    }
    .product-block-r {
        padding-right: 30px;
    }
    img.pl-image-a.pl-image-a5 {
        width: 106px;
        bottom: -65px;
        left: 100px;
    }
    img.pl-image-a.pl-image-a2 {
        top: -95px;
    }
    img.pl-image-a.pl-image-a6 {
        width: 110px;
        right: -58px;
        bottom: -69px;
    }
}
@media (max-width: 1199px) {    
    .logo-wrapper {
        text-align: left;
    }
    .logos-b img {
        max-height: 90px;
    }
    .product-block-r {
        padding: 0 10px;
    }
    .feedback-form-wrap {
        padding-right: 0px;
    }
    .header-slider {
        margin-bottom: -30px;
        padding-top: 7px;
    }
    .logo-wrapper {
        margin-top: 6px;
    }
    .header-slide-item-header {
        font-size: 13px;
    }
    .header-slide-item-body {
        margin-top: 7px;
    }
    .owl-dots {
        margin-top: 0;
    }
    .page_footer {
        height: 150px;
        margin-top: -150px;
    }
    .full-screen {
        padding-bottom: 150px;
    }
    .main-step-wrap {
        margin: 0 auto 25px;
        width: 255px;
    }
    .step-item {
        padding: 5px 14px 10px;
    }
    .upload-block {
        margin-top: 15px;
        padding: 0 15px;
    }
    .rules-link {
        margin-top: 10px;
    }
    .sm-header {
        font-size: 17px;
    }
    .md-header {
        font-size: 30px;
    }
    .upload-block .button-orng {
        width: 100%;
    }
    .info-list {
        font-size: 12px;
    }
}
@media (max-width: 992px) {
    .container-mp.pl-bg {
        height: 100% !important;
        overflow: hidden;
    }
    .pl-header {
        font-size: 23px;
    }
    .pl-static-text {
        font-size: 17px;
    }
    .pl-text-lg {
        font-size: 33px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    img.pl-image-a.pl-image-a1 {
        top: -97px;
        left: 100px;
        width: 105px;
    }
    img.pl-image-a.pl-image-a2 {
        width: 90px;
        left: 320px;
        top: -60px;
    }
    img.pl-image-a.pl-image-a3 {
        width: 79px;
        right: 65px;
        top: -100px;
    }
    img.pl-image-a.pl-image-a4 {
        width: 105px;
        left: -25px;
        bottom: -41px;
    }
    img.pl-image-a.pl-image-a5 {
        width: 106px;
        bottom: -90px;
        left: 360px;
    }
    img.pl-image-a.pl-image-a6 {
        width: 110px;
        right: -25px;
        bottom: 50px;
    }
    .product-block-r {
        margin-top: 0;
    }
    .product-block-r h1 {
        font-size: 23px;
    }
    .faq-container {
        padding-top: 0;
    }
    .faq-header {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .mp-steps-row {
        margin: 20px 0;
        padding: 0 15px;
    }
    .main-step-wrap {
        margin: 20px auto 0px;
        width: 270px;
    }
    .footer-menu li a, .page_footer {
        font-size: 12px;
    }
    .copyright {
        margin-bottom: 6px;
    }
    .md-header {
        font-size: 21px;
    }
    .step-item {
        margin: 12px 0 0 0;
    }
    .upload-block {
        margin-bottom: 15px;
    }
    .person-block1-sm {
        background-image: url(../images/person1.jpg);
        height: 310px;
        background-repeat: no-repeat;
        background-position: center top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .static-person {
        height: 320px;
        margin-top: 27px;
    }
}
@media (max-width: 767px) {
    .pl-wrap {
        padding: 25px 10px;
    }
    .pl-wrap img {
        width: 80%;
    }
    .pl-header {
        font-size: 20px;
    }
    .pl-static-text {
        font-size: 14px;
    }
    .pl-text-lg {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    img.pl-image-a.pl-image-a1 {
        top: -75px;
        left: 50px;
        width: 80px;
    }
    .faq-header {
        margin-top: 10px;
    }
    .form-footer-sm {
        padding: 0 20px;
    }
    .feedback-form-wrap h1 {
        font-size: 19px;
        margin-top: 10px;
    }
    .feedback-group label, .feedback-text-md {
        font-size: 15px;
    }
    .static-person {
        height: 255px;
        margin-top: 27px;
        background-size: 250px;
        background-position: center top;
    }
    .logo-wrapper {
        text-align: center;
        margin-top: 18px;
    }
    .header-slider {
        margin: 0 0 -30px;
    }
    .page_footer {
        height: auto;
        margin-top: 0;
    }
    .full-screen {
        padding-bottom: 0;
        min-height: auto;
    }
    .main-content {
        padding: 25px 5px 0;
    }
    .modal-title {
        font-size: 18px;
    }
    .form-group input.short-input {
        width: 100%;
    }
    .recaptcha {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    .pop-up-form-wrap {
        padding: 0;
    }
    .form-group {
        margin-bottom: 6px;
        padding: 0;
    }
    .pass-recover {
        margin-top: 5px;
    }
    .form-group label {
        font-size: 14px;
    }
    .page_header {
        padding: 0 10px;
    }
}
@media (max-width: 650px) { 
    .logos-b img {
        max-height: 50px;
        margin: 0 6px;
    }
    .product-block-r h1 {
        font-size: 18px;
    }
    .product-link.active:after {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 26px solid #f3ecd6;
        margin-left: -20px;
    }       
    .mobile-toggler {
        margin-right: 0px;
        margin-left: 0;
    }
    .visible-menu:before {
        right: 8px;
    }
    .visible-menu {
        right: 2px;
    }
    .header-slide-item-header.header-slide-item-header-md {
        font-size: 20px;
    }
}
@media (max-width: 610px) {
    .pl-bg:before {
        height: auto;
    }
    .pl-wrap {
        margin-top: 65px;
    }
    img.pl-image-a.pl-image-a1 {
        top: -64px;
        left: 50px;
        width: 80px;
    }
    img.pl-image-a.pl-image-a2 {
        width: 57px;
        left: 275px;
        top: -31px;
    }
    img.pl-image-a.pl-image-a3 {
        width: 64px;
        right: 40px;
        top: -60px;
    }
    img.pl-image-a.pl-image-a6 {
        width: 65px;
        right: -9px;
        bottom: 50px;
    }
    img.pl-image-a.pl-image-a5 {
        width: 76px;
        bottom: -60px;
        left: auto;
        right: 85px;
    }
    img.pl-image-a.pl-image-a4 {
        width: 77px;
        left: -6px;
        bottom: -11px;
    }
    .container-mp.pl-bg {
        padding: 0 10px;
        overflow: visible;
        height: auto !important;
        min-height: 100% !important;
        padding-bottom: 47px;
    }
}
@media (max-width: 550px){
    .header-slide-item-header.header-slide-item-header-sm {
        font-size: 11px;
    }
    .person-block1-sm {
        height: 230px;
    }
    .feedback-group input, .feedback-group select, .feedback-group textarea {
        width: 300px;   
    }
    img.pl-image-a.pl-image-a1 {
        top: -50px;
        left: 10px;
        width: 74px;
    }
    img.pl-image-a.pl-image-a2 {
        width: 57px;
        left: 145px;
        top: -30px;
    }
    .pl-wrap img {
        width: 90%;
    }
    img.pl-image-a.pl-image-a3 {
        right: 5px;
        top: -45px;
    }
    img.pl-image-a.pl-image-a6 {
        width: 56px;
        right: -5px;
        bottom: 35px;
    }
    img.pl-image-a.pl-image-a4 {
        width: 62px;
        left: -6px;
        bottom: -7px;
    }
    img.pl-image-a.pl-image-a5 {
        bottom: -46px;
        right: 103px;
    }
    .pl-wrap {
        margin-top: 35px;
    }
}
@media (max-width: 400px) {
    .header-slider {
        width: 230px;
    }
    .recaptcha {
        -webkit-transform: scale(0.89);
        -ms-transform: scale(0.89);
        -o-transform: scale(0.89);
        transform: scale(0.89);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    .checkbox-title.checkbox-title-xs {
        padding-right: 25px;
    }
}



/* Media End */


