/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto/Regular/RobotoRegular.eot");
    src: url("../fonts/Roboto/Regular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto/Regular/RobotoRegular.woff") format("woff"),
    url("../fonts/Roboto/Regular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto/Light/RobotoLight.eot");
    src: url("../fonts/Roboto/Light/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto/Light/RobotoLight.woff") format("woff"),
    url("../fonts/Roboto/Light/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto/Medium/RobotoMedium.eot");
    src: url("../fonts/Roboto/Medium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto/Medium/RobotoMedium.woff") format("woff"),
    url("../fonts/Roboto/Medium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto/Bold/RobotoBold.eot");
    src: url("../fonts/Roboto/Bold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bold/Roboto/RobotoBold.woff") format("woff"),
    url("../fonts/Bold/Roboto/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
