.static-select {
    width: 200px;
    padding: 9px 0;
    margin: 0 auto;
    display: block;
    border: 1px solid #969696;
    text-align: center;
    font-family: 'Conv_futuramediumc';
    font-size: 18px;
    line-height: 19px;
}
.persons-search span {
    font-size: 17px;
    font-family: 'Conv_futuramediumc';
}
.persons-search input {
	display: inline-block;
    border: 1px solid #969696;
    margin: 0 10px 0 15px;
    width: 250px;
    padding: 9px 0;
    vertical-align: middle;
}
.persons-search button {
    background: #cc1a19;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 9px 30px 10px;
    vertical-align: middle;
}
.persons-search {
    text-align: right;
}
.header-search{
    padding: 0 80px;
    margin: 20px 0 0;
}
h2.green-title {
    text-align: center;
    font-family: 'Conv_futuramediumc';
    text-transform: uppercase;
    color: #009f3a;
    font-size: 41px;
    margin: 35px 0;
    letter-spacing: 2px;
    font-weight: 600;
}
table.winners-list tr th {
    text-align: center;
    font-size: 17px;
    font-family: 'Conv_futuramediumc';
    font-weight: 100;
    padding: 0 0px 25px;
}
table.winners-list {
    width: 650px;
    margin: 10px auto 45px;
    text-align: center;
}
table.winners-list tr td {
    font-size: 16px;
    color: #424242;
    padding: 19px 0;
}
table.winners-list tr:nth-child(odd) td {
    background: #fafafa;
}
table.winners-list thead tr {
    border-bottom: 1px solid #f1ecec;
}
table.winners-list thead tr th:nth-child(2) , 
table.winners-list tbody tr td:nth-child(2)  {
	border-left: 1px solid #f1ecec;
	border-right: 1px solid #f1ecec;
}

/*Registration*/

.brown-wrap * , .brown-wrap-lg * , .brown-wrap-sm {
	color: #856c59;
}
.brown-wrap {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
.reg-title span {
    display: inline-block;
    vertical-align: middle;
}
.reg-title img {
    width: 30px;
    vertical-align: middle;
    margin-right: 6px;
}
.reg-title {
    font-family: "ProximaNovaRegular";
    text-transform: uppercase;
    text-align: left;
    font-size: 25px;
    margin-bottom: 20px;
    padding-left: 40px;
}
.input-row {
    margin-bottom: 13px;
}
.input-place , .input-row input , .input-row select{
    width: 230px;
    display: inline-block;	
}
.input-row input , .input-row select , .input-row textarea{
    border: 2px solid #856c59;
    border-radius: 13px;
    padding: 4px 15px;
    font-size: 15px;
}
.input-row input:focus, .input-row input:active , .input-row select:focus , .input-row select: active{
	outline: none;
}
.input-row span {
    font-size: 18px;
    display: inline-block;
    width: 185px;
    text-align: right;
    margin-right: 15px;
}
.input-place {
    text-align: left;
}
.checkbox-wrap {
    position: relative;
    border: 2px solid #856c59;
    display: inline-block;
    padding: 5px 0;
    width: 33px;
    height: 34px;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 8px;
    text-align: center;
}
.checkbox-wrap input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.checkbox-wrap input:checked + span {
	display: inline-block;
	width: 3px;
	height: 3px;
	background: red;
}
.checkbox-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 15px;
}
.checkbox-wrap input:checked + span {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #856c59;
    border-radius: 10px;
    margin: 0px 0 -2px;
}
.recapcha-wrap {
    display: inline-block;
}
.agreement-wrap .checkbox-title {
    font-size: 13px;
    position: absolute;
}
.agreement-wrap {
    display: inline-block;
    width: 380px;
    text-align: left;
    vertical-align: top;
    padding-left: 25px;
}
.dop-reg-info {
    margin-top: 15px;
    font-size: 15px;
}
.green-submit {
    display: block;
    width: 280px;
    margin: 35px auto 55px;
    text-align: center;
    font-family: 'Conv_futurabookc';
    text-transform: uppercase;
    background: #007d38;
    background: -webkit-linear-gradient(top, #014a12, #179951);
    background: -moz-linear-gradient(top, #014a12, #179951);
    background: -o-linear-gradient(top, #014a12, #179951);
    background: linear-gradient(to top, #014a12, #179951);
    color: #fff;
    font-size: 19px;
    padding: 15px 0;
    border: none;
    border-radius: 8px;
}

/*Registration end*/


/*Cabinet*/
.brown-wrap-lg {
	width: 1200px;
	margin: 0 auto;
}
.lk-wrap {
	margin-bottom: 70px;
}
.user-info div {
    font-size: 21px;
    line-height: 27px;
    padding-left: 63px;
}
.input-row span.block {
    display: block;
    text-align: left;
    margin-bottom: 3px;
    width: 100%
}
.brown-wrap-lg .input-row input , .brown-wrap-lg .input-row select {
	width: 250px;
}
.brown-wrap-lg .agreement-wrap {
	padding-left: 0;
	display: block;
	margin-bottom: 30px;
}
.file-wrapper span {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}
.file-wrapper input {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.file-wrapper {
    position: relative;
    border: 2px solid #856c59;
    border-radius: 13px;
    padding: 3px 15px;
    font-size: 14px;
    display: inline-block;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
}
.cabinet-submit {
    margin: 0 0 0 40px;
    display: inline-block;
    vertical-align: middle;
    width: 340px;
}
.brown-wrap-lg .recapcha-wrap{
	vertical-align: middle;
}
table.user-uploads thead tr {
    border-bottom: 1px solid;
}
table.user-uploads tr td {
    font-size: 16px;
    padding: 20px 0 0;
    vertical-align: middle;
}
table.user-uploads tr th {
    text-align: center;
    font-weight: 100;
    font-size: 19px;
    text-transform: uppercase;
    padding: 0 0 11px;
}
table.user-uploads {
    width: 100%;
    text-align: center;
    margin-bottom: 140px;
}
/*Cabinet End*/

/*Callback Start*/
.brown-wrap-sm .input-row {
    padding: 0 20px;
}
.brown-wrap-sm .input-row input {
    width: 100%;
}
.brown-wrap-sm {
    width: 510px;
    margin: 0 auto;
    text-align: center;
}
.brown-wrap-sm textarea {
    width: 100%;
    resize: none;
    height: 190px;
}
.brown-wrap-sm .reg-title {
    padding-left: 0;
    margin-bottom: 15px;
}
.brown-wrap-sm .dop-reg-info {
    margin-top: 5px;
}
.brown-wrap-sm .green-submit {
	margin-top: 15px;
}
/*Callback End*/



@media (max-width: 1230px) {
	.cabinet-submit {
	    display: block;
	    margin: 21px 0 0;
	}
	.brown-wrap-lg {
		width: 1000px;
	}
	table.user-uploads {
	    width: 768px;
	    margin: 0 auto 150px;
	}
	table.user-uploads tr th {
		font-size: 16px;
	}
}
@media (max-width: 992px){
	.brown-wrap-lg {
	    width: 770px;
	    margin-top: 25px;
	}
	.brown-wrap-lg .recapcha-wrap {
		margin: 0;
	}
	.brown-wrap-lg .reg-title {
	    margin-top: 0;
	}
	table.user-uploads {
    	width: 650px;
    }
    table.user-uploads tr th {
	    font-size: 15px;
	}
	.brown-wrap {
	    margin-top: 30px;
	    width: 500px;
	}
	.recapcha-wrap {
	    display: block;
	    width: 305px;
	    margin: 0 auto 18px;
	}
	.agreement-wrap {
		padding-left: 37px;
	}
	.static-select {
    	width: 150px;
    }
    .persons-search input {
    	width: 160px;
    }
    .persons-search span {
	    font-size: 15px;
	}
	.persons-search button {
		padding: 9px 15px 10px;
	}
}
@media (max-width: 768px){
	.brown-wrap , .brown-wrap-lg , .brown-wrap-sm {
	    text-align: left;
	    width: 310px;
	}
	.user-info div {
	    font-size: 19px;
	    line-height: 24px;
	    padding-left: 0;
	}
	.cabinet-submit {
		width: 100%;
	}
	table.user-uploads {
	    margin: 13px 0 22px;
	}
	.user-info {
		margin-bottom: 25px;
	}
	.input-row .file-wrapper span {
		margin-bottom: 0;
		text-align: center;
	}
	.input-row span {
	    display: block;
	    text-align: left;
	    margin-bottom: 5px;
	}
	.reg-title {
		padding-left: 0;
	}
	.agreement-wrap {
	    padding-left: 0;
	    text-align: left;
	}
	.agreement-wrap .checkbox-title {
	    font-size: 14px;
	    position: relative;
	    margin-top: 7px;
	}
	.input-place, .input-row input , .input-row select , .file-wrapper{
		width: 100% !important;
	}
	.header-search {
    	padding: 0 0;
    }
    table.winners-list {
    	width: 495px;
    }
	.static-select {
	    width: 280px;
	    margin-bottom: 18px;
	}
	.persons-search span {
	    display: block;
	    text-align: center;
	    margin-bottom: 9px;
	}
	.persons-search {
    	text-align: center;
	}
	.persons-search input {
		margin-left: 0;
	}
	h2.green-title {
	    font-size: 26px;
	    margin: 27px 0;
	}
	.brown-wrap-sm .input-row {
	    padding: 0 0;
	}
}
@media (max-width: 500px){
	.brown-wrap, .brown-wrap-lg, .brown-wrap-sm {
		width: 290px;
	}
	table.winners-list {
	    width: 400px;
	}
	table.winners-list tr th {
	    font-size: 15px;
	    padding: 0 0px 10px;
	}
	table.winners-list tr td {
	    font-size: 14px;
	    color: #000;
	    padding: 14px 0;
	}
}