{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
  УЗНАЙ ВКУС НАСЛАЖДЕНИЯ И ВЫИГРЫВАЙ ПРИЗЫ!
{% endblock %}

{% block body %}
  <main class="main" id="main">
    Главная
  </main>
  
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}