{% extends 'AppBundle:Default:base.html.twig' %}
{% trans_default_domain "auth" %}

{% block title %}Вход{% endblock %}

{% block body %}
  <main class="main" id="main">
    Вход
  </main>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}