{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
    Выиграй 200 000 ₽ на шопинг в Милане от бренда Я
{% endblock %}
{% block body %}
    <main class="main-content">
        <div class="container">
            <h1 class="static-title up">Успех</h1>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}