{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
Победители
{% endblock %}

{% block body %}
  <div class="wrapper">
    <h1 class="title">Победители</h1>
    <div class="winners">
      <div class="form">
        <input class="form__input form__input_type_date form__input_bg_red" type="text" placeholder="Выберите дату">
      </div>
      <div class="winners__table-wrap">
        <table class="table">
          <thead class="table__head">
          <tr class="table__row">
            <td class="table__item table__item_head">ФИО</td>
            <td class="table__item table__item_head">Номер телефона</td>
            <td class="table__item table__item_head">Дата регистрации</td>
            <td class="table__item table__item_head">Приз</td>
          </tr>
          </thead>
          <tbody class="table__body">
          <tr class="table__row">
            <td class="table__item">Иванов Иван Иванович</td>
            <td class="table__item">+7(960)521-XX-X9</td>
            <td class="table__item">11.05.2017</td>
            <td class="table__item table__item_win"><img class="table__win-image" src="images/table-phone.png" alt=""></td>
          </tr>
          <tr class="table__row">
            <td class="table__item">Константинов Константин Константинович</td>
            <td class="table__item">+7(921)535-XX-X5</td>
            <td class="table__item">09.05.2017</td>
            <td class="table__item table__item_win"><img class="table__win-image" src="images/table-syfon.png" alt=""></td>
          </tr>
          <tr class="table__row">
            <td class="table__item">Рогачев Александр Александрович</td>
            <td class="table__item">+7(921)535-XX-X5</td>
            <td class="table__item">09.05.2017</td>
            <td class="table__item table__item_win"><img class="table__win-image" src="images/table-syfon.png" alt=""></td>
          </tr>
          <tr class="table__row">
            <td class="table__item">Васильев Василий Васильевич</td>
            <td class="table__item">+7(921)535-XX-X5</td>
            <td class="table__item">09.05.2017</td>
            <td class="table__item table__item_win"><img class="table__win-image" src="images/table-syfon.png" alt=""></td>
          </tr>
          <tr class="table__row">
            <td class="table__item">Васильев Василий Васильевич</td>
            <td class="table__item">+7(921)535-XX-X5</td>
            <td class="table__item">09.05.2017</td>
            <td class="table__item table__item_win"><img class="table__win-image" src="images/table-syfon.png" alt=""></td>
          </tr>
          <tr class="table__row">
            <td class="table__item">Васильев Василий Васильевич</td>
            <td class="table__item">+7(921)535-XX-X5</td>
            <td class="table__item">09.05.2017</td>
            <td class="table__item table__item_win"><img class="table__win-image" src="images/table-syfon.png" alt=""></td>
          </tr>
          </tbody>
        </table>
      </div>
      <ul class="pages">
        <li class="pages__item"><a class="pages__link pages__link_action_prev" href="#">«</a></li>
        <li class="pages__item"><a class="pages__link" href="#">1</a></li>
        <li class="pages__item"><a class="pages__link" href="#">2</a></li>
        <li class="pages__item"><a class="pages__link" href="#">3</a></li>
        <li class="pages__item"><a class="pages__link pages__link_active" href="#">4	</a></li>
        <li class="pages__item"><a class="pages__link" href="#">5</a></li>
        <li class="pages__item"><a class="pages__link" href="#">6</a></li>
        <li class="pages__item"><a class="pages__link" href="#">7</a></li>
        <li class="pages__item"><a class="pages__link pages__link_action_more" href="#">...</a></li>
        <li class="pages__item"><a class="pages__link pages__link_action_next" href="#">»</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}