{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
  Победители
{% endblock %}

{% block body %}
  <main class="main" id="main">
    Победители
  </main>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}